@import "../../../layouts/card-layout/_card-layout.scss";

.asset-optin-page {
  @extend .card-layout;

  position: static;

  display: flex;
  flex-direction: column;

  width: 424px;
  height: fit-content;

  padding: 0 0 100px;

  .searchable-list {
    height: 546px;

    padding: 20px;

    background-color: var(--layer-2);
    border-radius: 12px;
    box-shadow: var(--shadow-inline);
  }

  .spinner {
    margin: auto;
  }
}

.asset-optin-page__header {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 28px 0 32px;
}

.asset-optin-page__info-button {
  width: max-content;
  height: max-content;

  padding: 0;

  border: unset;

  .info-icon {
    width: 20px;
    height: 20px;

    path,
    circle {
      fill: var(--text-main);
    }
  }
}
