#toast-root {
  z-index: var(--simple-toast-z-index);
}

.toast-stack {
  width: 472px;

  padding: 32px;
  padding-left: 100px;
}

.pera-toast {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  width: 340px;

  margin-top: 4px;
  padding: 16px 20px;

  background-color: var(--layer-1);
  border-radius: 16px;
  box-shadow: var(--shadow-3);

  &--small {
    width: 300px;

    margin-left: auto;
  }
}

.pera-toast--animation {
  opacity: 0;

  transform: scale(0.97) translate(16px, 16px);

  animation: PeraToastAnimation 0.2s ease-out forwards;
}

@keyframes PeraToastAnimation {
  100% {
    opacity: 1;

    transform: scale(1) translate(0, 0);
  }
}

.pera-toast__title {
  margin: 2px 0 4px;
}

.pera-toast--warning {
  .pera-toast__title {
    color: var(--helper-red-900);
  }
}

.pera-toast--info {
  .pera-toast__title {
    color: var(--helper-blue-900);
  }
}

.pera-toast__learn-more {
  display: block;

  margin-top: 12px;
}

.pera-toast__icon-wrapper {
  width: 28px;
  height: 28px;

  padding: 6px;

  border-radius: 50%;
}

.pera-toast__icon-wrapper--info {
  background-color: var(--helper-blue-100);

  .key-icon {
    path {
      fill: var(--helper-blue-900);
    }
  }
}

.pera-toast__icon-wrapper--warning {
  background-color: var(--helper-red-100);

  .info-icon {
    path {
      fill: var(--helper-red-900);
    }
  }
}

.toast-close-button {
  width: 24px;
  height: 24px;

  padding: unset;

  background-color: transparent;

  .close-icon {
    path {
      fill: var(--text-gray-lighter);
    }
  }
}
