@import "../../../../../core/ui/typography/_typography-mixins.scss";

.transaction-sign-review-transactions {
  position: relative;

  max-height: var(--pera-wallet-modal-transaction-sign-review-box-height);

  overflow: auto;

  padding: 28px 29px 0;

  &--compact {
    padding: 20px;

    .transaction-sign-review-transactions__button {
      @include typography--bold-body();
    }

    .transaction-sign-review-transactions__data-sign-message {
      position: fixed;
      bottom: 84px;

      padding: 8px;
    }

    .transaction-sign-detail-message {
      padding: 0;

      background-color: unset;
      box-shadow: unset;
    }
  }
}

.transaction-sign-review-transactions__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.transaction-sign-review-transactions__txns {
  padding: 20px;

  background: var(--layer-2);
  border-radius: 12px;
  box-shadow: var(--shadow-inline);

  .transaction-sign-assets-list:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.transaction-sign-review-transactions__button.button {
  --button-color: var(--secondary-button-text);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  .chevron-right-icon {
    width: 16px;
    height: 16px;

    path {
      fill: var(--secondary-button-text);
    }
  }
}

.transaction-sign-review-transactions__message {
  position: absolute;
  bottom: 12px;
  left: 14px;
  right: 14px;
}
