@import "../../../core/ui/typography/typography-mixins";

.password-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 424px;

  height: 100%;
  flex: 1;

  &--connect-new-tab {
    width: 100%;

    padding: 28px;
  }

  &--embedded {
    width: 100%;
    height: 100%;

    .password-access__hero {
      margin-top: 20px;
    }

    .password-access__hero-icon {
      margin-bottom: 16px;
      padding: 16px 15px 7px;

      svg {
        width: 42px;
        height: 42px;
      }
    }

    .password-access__hero-description {
      @include text-color--gray();

      max-width: 228px;

      margin: 0 auto;
    }

    .password-access__form {
      justify-content: unset;
    }

    .password-access__form-field {
      width: 280px;

      margin-bottom: 38px;
    }
  }
}

.password-access__hero {
  flex-direction: column;

  margin: 36px 0 32px;
}

.password-access__hero-icon {
  margin-bottom: 32px;
  padding: 33px 25px 10px;

  background: var(--white);
  border-radius: 50%;
  box-shadow: var(--shadow-large);
}

.password-access__hero-title {
  margin-bottom: 8px;
}

.password-access__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  flex: 1;
}

.password-access__form-field {
  width: 360px;

  margin: 0 auto 86px;
}

.password-access__form-field__input {
  .input-container__right-icon {
    display: block;

    width: 24px;
  }
}

.password-access__form-field__cta {
  width: 100%;
}

.password-access__form-field__cancel {
  width: 100%;
  height: 52px;

  margin-top: 4px;
}
