@import "../../../core/ui/typography/typography-mixins";

.password-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 360px;

  height: 100%;
  flex: 1;

  &--connect-new-tab {
    width: 100%;

    padding: 28px;

    .password-access__hero {
      flex-direction: column;

      margin: 36px 0 32px;
    }
  }

  &--embedded {
    width: 100%;
    height: 100%;

    .password-access__hero {
      margin-top: 20px;
    }

    .password-access__hero-icon {
      margin-bottom: 16px;
      padding: 16px 15px 7px;

      svg {
        width: 42px;
        height: 42px;
      }
    }

    .password-access__hero-description {
      @include text-color--gray();

      max-width: 228px;

      margin: 0 auto;
    }

    .password-access__form {
      justify-content: unset;
    }

    .password-access__form-field {
      width: 280px;

      margin-bottom: 38px;
    }
  }

  &--compact {
    display: grid;
    place-content: center;

    .form-field-message--is-error {
      bottom: -18px;
    }

    .password-access__hero {
      margin-top: 0;
    }

    .password-access__hero-icon {
      padding: 0;

      box-shadow: unset;
    }

    .password-access__hero-description {
      max-width: unset;
    }

    .password-access__form-field {
      width: 100%;
      height: 40px;

      margin: 0 0 18px;
      padding: 8px 12px;
    }

    .password-access__form-field__cta {
      height: 40px;
    }
  }
}

.password-access__hero {
  flex-direction: column;

  margin: 1px 0 32px;
}

.password-access__hero-icon {
  margin-bottom: 32px;
  padding: 33px 25px 10px;

  background: var(--layer-1);
  border-radius: 50%;
  box-shadow: var(--shadow-2);
}

.password-access__hero-title {
  margin-bottom: 12px;
}

.password-access__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  flex: 1;
}

.password-access__form-field {
  width: 100%;

  margin-bottom: 48px;
}

.password-access__form-field__input {
  .input-container__right-icon {
    display: block;

    width: 24px;
  }
}

.password-access__form-field__cta {
  width: 100%;

  margin-bottom: 12px;
}

.password-access__form-field__cancel {
  width: 100%;

  margin-top: 12px;
}
