@import "../../../../core/ui/typography/_typography-mixins.scss";

.searchable-account-list {
  display: flex;
  flex-direction: column;

  .searchable-list {
    min-height: 210px;

    padding: 28px;
  }

  &--colored-background {
    .searchable-list {
      background-color: var(--layer-2);
      border-radius: 12px;
      box-shadow: var(--shadow-inline);
    }
  }
}

.searchable-account-list-search {
  margin: 0 28px 24px;
}

.searchable-account-list-item {
  padding-bottom: 16px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-default);
  }

  &:last-child {
    padding-bottom: 0;
  }

  .account-balance {
    @include typography--bold-body();
  }
}
