.page {
  min-height: 100vh;

  &--without-header {
    .page-header {
      display: none;
    }
  }

  &--with-banner {
    .page__header-wrapper {
      background-color: var(--gray-800);
    }

    .page-header {
      background-color: var(--background);

      border-radius: 24px 24px 0 0;
    }
  }
}

.page-content {
  max-width: var(--page-content-max-width);

  margin: 0 auto;
  padding: 0 32px 40px;
}

.page__header-wrapper {
  background-color: var(--background);
}
