.asset-optin-account-link {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  margin-top: auto;
  padding: 18px 0;

  background-color: var(--background);

  border-top: 1px solid var(--border-default);

  &,
  &:visited {
    color: currentcolor;
  }
}

.asset-optin-account-link__content {
  display: flex;
  justify-content: space-between;

  width: 424px;

  margin: auto;
}

.asset-optin-account-link__name {
  display: flex;
  align-items: center;
  gap: 16px;
}

.asset-optin-account-link__balance {
  display: flex;
  align-items: center;
  gap: 16px;

  .chevron-right-icon path {
    fill: var(--text-main);
  }
}

.asset-optin-account-link__balance-warning {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--helper-red-900);

  .warning-icon path {
    fill: var(--helper-red-900);
  }
}
