.info-box {
  display: flex;
  gap: 12px;

  padding: 16px 20px;

  background: var(--layer-1);
  border-radius: 16px;
  box-shadow: var(--shadow-2);
}

.info-box-icon {
  width: 28px;
  height: 28px;

  padding: 6px;

  background-color: var(--helper-blue-100);
  border-radius: 50%;

  .info-icon {
    path {
      fill: var(--helper-blue-900);
    }
  }
}

.info-box-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
