$small-max-width: 1024px;
$small-screen-query: "only screen and (max-width: " + $small-max-width + ")";

$large-max-width: 1900px;
$large-screen-query: "only screen and (max-width: " + $large-max-width + ")" +
  "and (min-width: " + $small-max-width + ")";

@mixin for-small-screens {
  @media #{$small-screen-query} {
    @content;
  }
}

@mixin for-large-screens {
  @media #{$large-screen-query} {
    @content;
  }
}
