.button {
  --button-bg: var(--primary-button-bg);
  --button-height: 48px;

  padding: 14px 16px;

  border: 2px solid transparent;
  border-radius: 12px;

  /* stylelint-disable-next-line declaration-colon-newline-after */
  transition: background-color var(--default-animation), color var(--default-animation),
    border var(--default-animation), box-shadow var(--default-animation);

  svg path {
    transition: fill var(--default-animation);
  }
}

.button--primary {
  --button-bg: var(--primary-button-bg);
  --button-color: var(--primary-button-text);

  &:hover {
    --button-bg: var(--primary-button-hover-bg);
    --button-color: var(--primary-button-hover-text);
  }

  &.button--is-inactive {
    --button-bg: var(--primary-button-disabled-bg);
    --button-color: var(--primary-button-disabled-text);
  }

  &:active,
  &:focus {
    border: 2px solid var(--text-contrast);
    box-shadow: var(--shadow-pressed);
  }

  &.button.button--is-inactive.button--is-pending {
    --button-bg: var(--primary-button-bg);
    --button-color: var(--primary-button-text);

    opacity: 1;

    .simple-loader path {
      fill: var(--primary-button-text);
    }
  }
}

.button--secondary {
  --button-bg: var(--secondary-button-bg);
  --button-color: var(--secondary-button-text);

  &:hover {
    --button-bg: var(--secondary-button-hover-bg);
    --button-color: var(--secondary-button-hover-text);
  }

  &:active,
  &:focus {
    border: 2px solid var(--text-contrast);
    box-shadow: var(--shadow-pressed);
  }

  &.button--is-inactive {
    --button-bg: var(--secondary-button-disabled-bg);
    --button-color: var(--secondary-button-disabled-text);
  }

  &.button.button--is-inactive.button--is-pending {
    --button-bg: var(--secondary-button-bg);
    --button-color: var(--secondary-button-text);

    opacity: 1;
  }
}

.button--light {
  --button-bg: var(--light-button-bg);
  --button-color: var(--light-button-text);

  box-shadow: var(--shadow-2);

  &:hover {
    --button-bg: var(--light-button-hover-bg);
    --button-color: var(--light-button-hover-text);
  }

  &:focus,
  &:active {
    border: 2px solid var(--background);
    box-shadow: var(--shadow-pressed);
  }

  &.button--is-inactive {
    --button-bg: var(--light-button-disabled-bg);
    --button-color: var(--light-button-disabled-text);
  }

  &.button.button--is-inactive.button--is-pending {
    --button-bg: var(--light-button-bg);
    --button-color: var(--light-button-text);

    opacity: 1;
  }
}

.button--ghost {
  --button-bg: transparent;
  --button-color: var(--ghost-button-text);

  padding: 10px 8px;

  box-shadow: none;

  &:hover,
  &:focus {
    --button-color: var(--ghost-button-hover-text);

    box-shadow: none;

    svg path {
      fill: var(--ghost-button-hover-text);
    }
  }

  &:active,
  &:focus {
    --button-bg: var(--ghost-button-pressed-bg);
    --button-color: var(--ghost-button-pressed-text);

    box-shadow: none;

    svg path {
      fill: var(--ghost-button-pressed-text);
    }
  }

  &.button--is-inactive {
    --button-color: var(--ghost-button-disabled-text);

    svg path {
      fill: var(--ghost-button-disabled-text);
    }
  }

  &.button.button--is-inactive.button--is-pending {
    --button-bg: var(--ghost-button-bg);
    --button-color: var(--ghost-button-text);

    opacity: 1;
  }
}

.button--danger {
  --button-bg: var(--helper-red-100);
  --button-color: var(--helper-red-900);

  &:hover,
  &:focus {
    --button-bg: var(--helper-red-200);
    --button-color: var(--helper-red-900);
  }

  &.button--is-inactive {
    --button-bg: var(--primary-button-disabled-bg);
    --button-color: var(--primary-button-disabled-text);
  }
}

.button--custom {
  --button-bg: unset;
  --button-color: unset;

  &.button--small,
  &.button--medium,
  &.button--large {
    --button-height: unset;

    padding: 0;
  }
}

.button--small {
  --button-height: 28px;

  padding: 6px 12px;
}

.button--medium {
  --button-height: 40px;

  padding: 10px 16px;
}

.button--large {
  --button-height: 48px;

  padding: 14px 16px;
}

.button--fluid {
  width: 100%;
}

.link-button {
  display: flex;
}

.button__loader--align-right {
  position: absolute;
  right: 16px;
}
