.mobile-landing-page__heading-image {
  max-width: 326px;

  margin-bottom: 77px;
}

.mobile-landing-page__content {
  padding: 0 40px;
}

.mobile-landing-page__message {
  margin: 32px 0 48px;

  color: var(--text-gray);
}
