@use "sass:map";
@import "../../../core/ui/typography/_typography-mixins";

.account-import-onboarding-option-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(315px, 1fr));

  background-color: var(--layer-1);

  border-radius: 16px;
  box-shadow: var(--shadow-1);
}

.account-import-onboarding-option-list__item-container {
  $icons: (
    "secure-backup": (
      "bg": var(--helper-peace-100)
    ),
    "import": (
      "bg": var(--helper-purple-100)
    ),
    "nano": (
      "bg": var(--helper-yellow-100)
    ),
    "recovery": (
      "bg": var(--helper-pink-100)
    )
  );

  @each $id, $icon-map in $icons {
    ##{$id} {
      .account-import-onboarding-option-list__item-icon-container {
        background: map.get($map: $icon-map, $key: "bg");
      }
    }
  }

  height: 184px;

  padding: 28px;

  &--coming-soon {
    pointer-events: none;
  }

  &:not(:last-of-type) {
    border-right: 1px solid var(--border-default);
  }

  &:nth-child(4) {
    display: none;
  }
}

.account-import-onboarding-option-list__item-icon-container {
  display: grid;
  place-content: center;

  width: 36px;
  height: 36px;

  border-radius: 8px;

  .ledger-icon {
    path,
    circle {
      fill: var(--helper-yellow-900);
    }
  }

  .key-icon {
    path {
      fill: var(--helper-pink-900);
    }
  }
}

.account-import-onboarding-option-list__item.button {
  display: block;

  width: 100%;
  height: unset;

  padding: 0;

  border: none;

  border-radius: 0;
  box-shadow: none;
}

.account-import-onboarding-option-list__item-text {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 20px 0 8px;

  color: var(--text-main);
}

.account-import-onboarding-option-list__item-description {
  max-width: 260px;
}

.account-import-onboarding-option-list__item-text__new-label {
  padding: 1px 5px;

  color: var(--helper-purple-900);
  background-color: var(--helper-purple-100);

  border-radius: 18px;
}

.account-import-onboarding-optin-list__item-title-container {
  display: flex;
  gap: 8px;
}

.account-import-onboarding-option-list--vertical {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;

  margin-top: 60px;

  background-color: transparent;
  border-radius: unset;
  box-shadow: unset;

  .account-import-onboarding-option-list__item-container {
    min-width: 300px;
    height: 200px;

    background-color: var(--layer-1);

    border-radius: 16px;
    box-shadow: var(--shadow-1);

    .account-import-onboarding-option-list__item-text {
      margin: 40px 0 12px;
    }

    &:nth-child(4) {
      display: block;
    }

    &:nth-child(2n - 1) {
      .account-import-onboarding-option-list__item-description {
        max-width: 260px;
      }
    }

    &:hover {
      .account-import-onboarding-option-list__item-text {
        color: var(--helper-purple-900);
      }
    }
  }

  .account-import-onboarding-option-list__item-description {
    max-width: 304px;

    text-align: left;
  }
}
