.pera-password-input {
  position: relative;

  height: 20px;

  .input-container__icon {
    width: auto;
    height: auto;
  }

  .input {
    margin-right: 40px;
  }
}

.pera-password-input__icon {
  --button-width: 20px;
  --button-height: 20px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  background: var(--input-bg);
  border-radius: 0;

  &:active {
    box-shadow: none;
  }
}

.pera-password-input__info-icon {
  position: absolute;
  left: -32px;

  width: 20px;
  height: 20px;

  margin: 0;

  pointer-events: none;

  .warning-icon {
    path {
      fill: var(--helper-red-900);
    }
  }

  .checkmark-icon {
    path {
      fill: var(--helper-peace-900);
    }
  }
}

.pera-password-input__visibility-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }

  &:active {
    box-shadow: none;
  }
}
