.pera-password-input {
  position: relative;

  height: 24px;

  .input-container__icon {
    width: auto;
    height: auto;
  }

  .input {
    margin-right: 40px;
  }
}

.pera-password-input__icon {
  --button-height: 24px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  background: white;
  border-radius: 0;

  &:active {
    box-shadow: none;
  }
}

.pera-password-input__info-icon {
  position: absolute;
  left: -32px;

  width: 20px;
  height: 20px;

  margin: 0;

  pointer-events: none;

  .warning-icon {
    path {
      fill: var(--helper-red-default);
    }
  }

  .check-mark-icon {
    path {
      fill: var(--helper-green-default);
    }
  }
}

.pera-password-input__visibility-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  &:active {
    box-shadow: none;
  }
}
