.asset-list-item {
  .list-item__click-wrapper {
    display: grid;
    grid-template-columns: 32px 1fr;

    grid-gap: 16px;
    grid-auto-flow: column;

    .asa-verified-icon,
    .asa-trusted-icon,
    .asa-suspicious-icon {
      margin-left: 4px;
    }
  }

  &:not(:last-of-type) {
    .asset-list-item__grid-cell {
      padding-bottom: 16px;

      &:last-child {
        border-bottom: 1px solid var(--border-default);
      }
    }
  }
}

.asset-list-item__grid-cell {
  display: grid;

  &:first-child {
    align-items: center;
  }
}

.asset-list-item__logo {
  &.asset-logo {
    .image__placeholder {
      background-color: var(--background);
    }
  }
}

.asset-list-item__logo--is-nft {
  &.asset-logo {
    .image__img,
    .image__placeholder {
      border-radius: 4px;
    }
  }
}
