.asset-optin-list-item {
  .list-item__click-wrapper {
    cursor: auto;
  }
}

.asset-optin-list-item__optin-button {
  width: 48px;

  .checkmark-icon {
    flex-shrink: 0;

    path {
      fill: var(--text-gray-lighter);
    }
  }

  .plus-icon {
    flex-shrink: 0;

    path {
      fill: var(--text-gray);
    }
  }
}
