.settings {
  width: 948px;
  max-width: 100%;
}

.settings-title {
  margin-bottom: 20px;
}

.settings-list {
  display: flex;
  flex-direction: column;
}

.settings-list-item {
  display: flex;
  flex-direction: row;
  gap: 12px;

  padding-top: 40px;

  &:first-child {
    padding-top: 28px;
  }

  svg {
    flex-shrink: 0;

    align-self: flex-start;
  }
}

.settings-list-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding-bottom: 40px;

  border-bottom: 1px solid var(--layer-3);
}

.settings-list-item-title {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 12px;

  &--clear-wallet {
    color: var(--helper-red-900);
  }
}

.settings-list-item-title__new-label {
  padding: 1px 5px;

  color: var(--helper-purple-900);
  background-color: var(--helper-purple-100);

  border-radius: 18px;
}

.settings__tooltip {
  height: 20px;
}

.settings-list-item__description {
  width: 100%;
  max-width: 560px;

  white-space: pre-wrap;
}

.settings-list-item__learn-more {
  &,
  &:visited {
    display: block;

    margin-top: 8px;

    color: var(--secondary-button-text);
  }
}

.settings__cta-container {
  margin-left: auto;
}

.settings__view-sessions {
  position: relative;
}

.settings__view-sessions-count {
  position: absolute;
  top: 0;
  right: 0;

  padding: 2px 8px;

  color: var(--text-contrast);
  background-color: var(--helper-purple-900);
  border-radius: 37px;
  box-shadow: var(--shadow-1);

  transform: translate(50%, -50%);
}

.settings__node-toggle {
  width: 200px;
}

.settings__theme-toggle {
  width: 300px;
}

.settings__clear-button {
  color: var(--helper-red-900);
  background-color: var(--helper-red-100);
}
