.go-back-button-container {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-bottom: 32px;

  .arrow-left-icon {
    path {
      fill: var(--text-main);
    }
  }
}

.go-back-button {
  display: flex;
}
