.account-import-pera {
  display: flex;
  flex-direction: column;

  width: 424px;

  text-align: center;
}

.account-import-pera__title {
  margin: 60px 0 12px;

  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.47px;
}

.account-import-pera__description {
  color: #7e7e8c;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.account-import-pera__icon {
  margin: 64px auto 0;
}

.account-import-pera__cta {
  width: 100%;

  margin-top: 48px;
}
