.clear-wallet-data-modal {
  flex-direction: column;

  width: 480px;
}

.clear-wallet-data-modal__icon-wrapper {
  display: grid;
  place-content: center;

  width: 96px;
  height: 96px;

  margin-bottom: 32px;

  background-color: var(--layer-1);
  border-radius: 50%;
  box-shadow: var(--shadow-1);

  .safe-icon {
    width: 48px;
    height: 48px;

    path {
      fill: var(--helper-red-900);
    }
  }

  .lock-delete-icon {
    margin-top: 12px;
  }
}

.clear-wallet-data-modal__heading {
  width: 295px;

  margin-bottom: 12px;

  text-align: center;
}

.clear-wallet-data-modal__helper {
  display: flex;
  align-items: center;
  gap: 12px;

  margin: 32px auto 48px;
}

.clear-wallet-data-modal__helper-link {
  &,
  &:visited {
    color: var(--text-main);
  }
}

.clear-wallet-data-modal__helper-icon-wrapper {
  display: grid;
  place-content: center;

  width: 28px;
  height: 28px;

  background-color: var(--helper-yellow-100);
  border-radius: 50%;

  .key-icon {
    path {
      fill: var(--helper-red-900);
    }
  }
}

.clear-wallet-data-modal__backed-up-cta {
  width: 100%;
}

.clear-wallet-data-modal__confirmation-description {
  margin: 12px 0 32px;
}

.clear-wallet-data-modal__confirmation-form {
  width: 100%;
}

.clear-wallet-data-modal__confirmation-input-box {
  margin: 16px 0 48px;
}

.clear-wallet-data-modal__confirmation-cta {
  width: 100%;
}

.clear-wallet-data-modal__cancel-cta {
  width: 100%;

  margin-top: 12px;
}
