.account-show-passphrase-modal {
  width: 424px;
  height: auto;
}

.account-show-passphrase-modal__header {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.account-show-passphrase-modal__info-box {
  margin: 32px 0 16px;
}

.account-show-passphrase-modal__learn-more-link {
  display: flex;
  align-items: center;

  .arrow-right-icon {
    margin-left: 2px;
  }
}

.account-show-passphrase-modal__close-button {
  width: 100%;

  margin-top: 8px;
}
