.transaction-sign-detail-message {
  display: grid;
  align-items: center;
  grid-template-columns: 24px auto;
  gap: 12px;

  margin-bottom: 20px;
  padding: 16px;

  border-radius: 16px;

  word-break: break-word;

  &--warning {
    color: var(--helper-red-900);
    background-color: var(--helper-red-100);

    .warning-icon {
      path {
        fill: var(--helper-red-900);
      }
    }
  }

  &--info {
    color: var(--helper-purple-900);
    background-color: var(--helper-purple-100);
    box-shadow: var(--shadow-1);

    .info-icon {
      path {
        fill: var(--helper-purple-900);
      }
    }
  }
}
