.account-remove-modal {
  width: 360px;
  min-height: 404px;
}

.account-remove-modal__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.account-remove-modal__hero-unlink-icon-wrapper {
  display: grid;
  place-content: center;

  width: 96px;
  height: 96px;

  margin: 0 auto 32px;

  background-color: var(--layer-1);
  border-radius: 100%;
  box-shadow: var(--shadow-1);

  .unlink-icon {
    path {
      fill: var(--helper-red-900);
    }
  }
}

.account-remove-modal__hero-title {
  margin-bottom: 12px;
}

.account-remove-modal__confirm-cta {
  width: 100%;

  margin-top: 32px;
}

.account-remove-modal__cancel-cta {
  width: 100%;

  margin-top: 12px;
}

.account-remove-modal__info-box {
  margin-top: 32px;

  .info-box-content {
    gap: 4px;

    text-align: left;
  }

  .info-box-content__title {
    color: var(--helper-red-900);
  }

  .info-box-icon {
    background-color: var(--helper-red-100);

    .info-icon {
      path {
        fill: var(--helper-red-900);
      }
    }
  }
}
