.transaction-sign-transaction-actions {
  padding: 28px;

  border-top: 1px solid var(--gray-100);

  &--sign-required {
    display: grid;
    grid-template-columns: 132px auto;
    gap: 16px;
  }
}

.transaction-sign-transaction-actions__button {
  width: 100%;
}
