.password-create {
  position: relative;

  display: flex;
  flex-direction: column;

  &--default {
    width: 424px;
  }

  &--connect {
    width: 480px;

    padding: 28px;
  }
}

.password-create__title {
  margin-bottom: 32px;
}

.password-create__info-box {
  margin-bottom: 24px;
}

.password-create__info-box-link {
  &:visited {
    color: var(--text-main);
  }
}

.password-create__form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.password-create__form__password-form-field {
  margin-bottom: 24px;

  transition: margin-bottom var(--default-animation);

  &.form-field--has-error {
    margin-bottom: 50px;
  }
}

.password-create__form__password-input {
  .input-container__icon {
    display: none;

    .password-input__info-icon {
      margin-right: 8px;
    }

    &:active {
      display: block;
    }
  }
}

.password-create__form__confirmation-form-field {
  margin-bottom: 92px;
}

.password-create__form__confirmation-input {
  .password-input__info-icon {
    margin-right: 8px;
  }
}

.password-create__form__cta {
  width: 100%;
}

.password-create__terms-and-conditions {
  position: absolute;
  bottom: -92px;
  left: 0;
  right: 0;

  width: 356px;

  margin: auto;

  text-align: center;
}

.password-create__terms-and-conditions__link {
  color: var(--helper-purple-default);

  &:visited {
    color: var(--helper-purple-default);
  }
}
