.account-overview-list-item {
  position: relative;

  display: grid;
  align-items: center;
  grid-template-columns: auto 68px;

  padding: 0 16px;

  transition: background-color var(--default-animation);

  &:not(:last-of-type) {
    .account-overview-list-item__grid-wrapper,
    .account-overview-list-item__actions {
      border-bottom: 1px solid var(--border-default);
    }
  }

  &:hover {
    background-color: var(--helper-gray-100);
    border-radius: 12px;
  }
}

.account-overview-list-item__link {
  display: grid;
  align-items: center;
  grid-template-columns: 32px auto;
  gap: 16px;

  &:hover {
    cursor: pointer;
  }
}

.account-overview-list-item__grid-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 96px 96px minmax(144px, max-content) 28px 28px;
  gap: 16px;

  padding: 22px 0;
}

.account-overview-list-item__grid-cell {
  display: grid;

  &:nth-child(1) {
    text-align: left;
  }

  &:nth-child(4n) {
    margin-right: 20px;

    text-align: right;
  }
}

.account-overview-list-item__actions {
  display: grid;
  grid-template-columns: 28px 28px;
  gap: 12px;

  padding: 30px 0;
}

.account-overview-list-item__clipboard-button {
  --button-height: 28px;

  border-radius: 8px;

  .clipboard-button__content {
    .copy-icon {
      margin-right: 2px;

      path {
        fill: var(--light-button-text);
      }
    }
  }
}

.account-overview-list-item__skeleton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 65px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-100);
  }
}
