.connect-page-account-list {
  &:not(.connect-page-account-list--is-selectable) .connect-page-account-list__item,
  .list-item__click-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 35px 1fr;

    gap: 16px;

    min-height: 72px;
  }
}

.connect-page-account-list__item {
  &:not(:last-of-type) {
    .connect-page-account-list__item__body {
      padding: 16px 0;

      border-bottom: 1px solid var(--border-default);
    }
  }
}

.connect-page-account-list__item--is-selected {
  .connect-page-account-list__item__check-icon-wrapper {
    background-color: var(--helper-purple-900);

    border: none;

    .checkbox-icon {
      display: block;
    }
  }
}

.connect-page-account-list__item__name {
  margin-bottom: 2px;
}

.connect-page-account-list__item__algo-amount-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.connect-page-account-list__item__check-icon-wrapper {
  width: 20px;
  height: 20px;

  border: 2px solid var(--helper-gray-300);
  border-radius: 6px;

  .checkbox-icon {
    display: none;

    path {
      fill: var(--text-contrast);
    }
  }
}
