@import "../../../layouts/card-layout/_card-layout.scss";

.send-txn__select-asset {
  @extend .card-layout;

  display: flex;
  flex-direction: column;

  width: 424px;
  height: 590px;

  padding: 0;
}

.send-txn-asset__list {
  display: grid;

  overflow-y: auto;

  .searchable-list {
    height: 388px;

    padding: 20px;

    background-color: var(--layer-2);

    border-radius: 12px;

    box-shadow: var(--shadow-inline);
  }
}

.send-txn__select-asset__go-back-button {
  padding: 28px 0 0;
}

.send-txn-asset__fund {
  display: grid;
  justify-items: center;
  gap: 32px;

  margin: auto;
}

.send-txn-asset__fund-cta {
  display: flex;
  gap: 8px;

  width: 240px;

  .plus-icon path {
    fill: var(--primary-button-text);
  }
}
