@import "../../../../../../../core/ui/typography/typography-mixins";

.transaction-sign-single-view-wallets {
  margin-bottom: 32px;

  border-radius: 12px;
  box-shadow: var(--shadow-small);
}

.transaction-sign-single-view-wallets__wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 22px 16px;

  &--from-unknown-wallet,
  &--to-unknown-wallet {
    .account-default-icon {
      rect {
        fill: var(--secondary-button-disabled-bg);
      }

      path {
        fill: var(--primary-button-disabled-text);
      }
    }
  }
}

.transaction-sign-single-view-wallets__wallet__description {
  display: flex;
  align-items: center;
  gap: 12px;
}

.transaction-sign-single-view-wallets__wallet__external-link.button {
  @include typography--caption();
  @include text-color--gray-light();

  gap: 2px;

  .export-icon {
    path {
      fill: var(--text-gray-light);
    }
  }
}

.transaction-sign-single-view-wallets__to {
  position: relative;

  border-bottom: 1px solid var(--gray-100);
}

.transaction-sign-single-view-wallets__to__text {
  position: absolute;
  top: -8px;
  right: calc(50% - 16px);

  width: 32px;

  background-color: var(--card-default);

  text-align: center;
}
