#simple-toast-root {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: var(--simple-toast-z-index);

  transform: translateX(-50%);
}

.simple-toast {
  position: relative;
  bottom: 8px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 24px;

  color: var(--text-contrast);

  border-radius: 12px;

  white-space: pre-wrap;

  animation: simple-toast-fade-in var(--default-animation) forwards,
    simple-toast-fade-out var(--default-animation) 3.75s forwards;

  &--success {
    background-color: var(--helper-peace-800);
  }

  &--info {
    background-color: var(--helper-blue-800);
  }

  &--error {
    background-color: var(--helper-red-800);
  }

  .tick-circle-icon {
    path {
      fill: var(--text-contrast);
    }
  }

  .danger-icon {
    path {
      fill: var(--text-contrast);
    }
  }
}

@keyframes simple-toast-fade-in {
  from {
    opacity: 0;
  }

  to {
    bottom: 0;

    opacity: 1;
  }
}

@keyframes simple-toast-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
