.searchable-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
}

.searchable-list__search {
  .form-field__label {
    display: flex;
    gap: 16px;
  }

  .search-icon {
    path {
      stroke: var(--text-gray-lighter);
    }
  }

  .input::placeholder {
    color: var(--text-gray-lighter);
    opacity: 1;
  }

  .input-container__icon {
    width: 16px;
    height: 16px;
  }

  .input-container__left-icon {
    margin-right: 16px;
  }
}

.searchable-list__no-result-message {
  margin: auto;
}
