@import "../../../../../core/ui/typography/typography-mixins";

.transfer-mobile-accounts__subheader {
  margin-bottom: 32px;
  padding: 0 16px;
}

.transfer-mobile-accounts__select-form-cta {
  width: 100%;

  margin-top: 48px;
}
