@import "../../../../core/ui/typography/typography-mixins";

.selectable-account-list__select-all-button {
  --button-height: 24px;

  color: var(--primary-button-bg);

  &:active,
  &:focus {
    --button-bg: unset;

    box-shadow: none;
  }
}

.selectable-account-list__select-all-checkbox-wrapper {
  justify-content: space-between;

  margin-bottom: 18px;

  .checkbox-input-label__icon {
    margin: 0;
  }
}

.selectable-account-list__list {
  display: grid;
  grid-gap: 32px;

  max-height: 320px;

  overflow-y: auto;

  padding: 16px 0;

  border-radius: 12px;
}

.selectable-account-list__list-item {
  position: relative;

  &:not(:last-child):after {
    position: absolute;

    bottom: -16px;

    width: 100%;

    border-bottom: solid 1px var(--border-default);

    content: "";
  }
}

.selectable-account-list__cta {
  width: 100%;

  margin-top: 30px;
}

.selectable-account-list__load-more {
  margin: 8px auto auto;

  color: var(--helper-purple-900);

  .chevron-down-icon {
    margin-left: 8px;

    fill: var(--helper-purple-900);
  }
}
