@font-face {
  font-family: "Milan";
  src: url("./Milan/Milan-Bold.otf") format("opentype");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("./DMSans/DMSans-Bold.ttf") format("truetype");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Milan";
  src: url("./Milan/Milan-SemiBold.otf") format("opentype");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Milan";
  src: url("./Milan/Milan-Medium.otf") format("opentype");

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Milan";
  src: url("./Milan/Milan-Regular.otf") format("opentype");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Milan";
  src: url("./Milan/Milan-ExtraLight.otf") format("opentype");

  font-weight: 200;
  font-style: normal;
}
