.account-rename-modal {
  width: 424px;

  .account-name-form__cta {
    margin-top: 36px;
  }
}

.account-rename-modal__title {
  margin-bottom: 12px;
}

.account-rename-modal__cancel-cta {
  width: 100%;

  margin-top: 12px;
}
