@import "../../../core/ui/typography/_typography-mixins.scss";

.page-header {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 19px 24px 13px;

  background-color: var(--background);
  border-radius: 24px 24px 0 0;
  box-shadow: transparent;

  transition: box-shadow 0.25 ease;
}

.page-header--has-scrolled {
  box-shadow: var(--shadow-2);

  transition: box-shadow 0.25 ease;
}

.page-header__indicator-group {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.page-header__go-back-button {
  @include typography--button();

  gap: 8px;

  margin-left: 20px;
  padding: 10px;

  .arrow-left-icon {
    width: 16px;
    height: 16px;

    path {
      fill: var(--ghost-button-text);
    }
  }

  &:before {
    display: inline-block;

    width: 1px;
    height: 30px;

    border-left: 1px solid var(--helper-gray-200);

    content: " ";

    transform: translateX(-16px);
  }
}
