:root {
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --white: #FFFFFF;
  --white-rgb: 255, 255, 255;

  --gray-100: #FAFAFA;
  --gray-200: #F4F4F4;
  --gray-200-rgb: 244,244,244;
  --gray-300: #E6E6E6;
  --gray-400: #CACACC;
  --gray-400-rgb: 202,202,204;
  --gray-500: #8F8F94;
  --gray-500-rgb: 143,143,148;
  --gray-600: #626268;
  --gray-700: #434345;
  --gray-800: #242424;
  --gray-900: #1A1A1A;

  --purple-400: #AC8EFF;
  --purple-400-rgb: 172,142,255;
  --purple-500: #8162FF;
  --purple-600: #6B45FE;
  --purple-600-rgb: 107,69,254;
  --purple-800: #2B1583;

  --green-300: #DFFF75;
  --green-500: #A0DD1D;
  --green-500-rgb: 160,221,29;
  --green-600: #86BF0B;
  --green-700: #608D00;
  
  --turquoise-300: #73FFBC;
  --turquoise-300-rgb: 115,255,188;
  --turquoise-400: #39DBB4;
  --turquoise-600: #28A79B;
  --turquoise-600-rgb: 40, 167, 155;
  --turquoise-900: #074A44;

  --red-300: #FFB571;
  --red-500: #FF6E41;
  --red-500-rgb: 255, 110, 65;
  --red-600: #FF4820;
  --red-600-rgb: 255, 72, 32;
  --red-800: #94250D;

  --yellow-300: #FFF387;
  --yellow-500: #FCCA44;
  --yellow-500-rgb: 252, 202, 68;
  --yellow-600: #FFA800;
  --yellow-600-rgb: 255, 168, 0;
  --yellow-800: #844700;

  --blue-300: #76FFF7;
  --blue-500: #15B9FF;
  --blue-500-rgb: 21, 185, 255;
  --blue-600: #2469EE;
  --blue-600-rgb: 36, 105, 238;
  --blue-800: #123270;

  --pink-300: #FFB7D9;
  --pink-300-rgb: 255, 183, 217;
  --pink-500: #FF86AA;
  --pink-600: #F95183;
  --pink-600-rgb: 249, 81, 131;
  --pink-800: #6B0724;
}
