:root {
  --black: #000000;
  --white: #FFFFFF;

  --gray-100: #F3F3F7;
  --gray-200: #E0E0EB;
  --gray-200-rgb: 224, 224, 235;
  --gray-300: #BCBCC8;
  --gray-400: #9D9DAE;
  --gray-400-rgb: 157, 157, 174;
  --gray-500: #6A6A81;
  --gray-600: #4E4E5F;
  --gray-700: #3C3C49;
  --gray-800: #26262B;
  --gray-900: #18181B;
  --gray-1000: #0C0C0E;

  --purple-50: #F4F2FE;
  --purple-100: #E9E6FE;
  --purple-200: #D0CAFE;
  --purple-300: #B5AAFE;
  --purple-400: #9482FE;
  --purple-500: #6B46FE;
  --purple-600: #5F3EE3;
  --purple-700: #5236C4;
  --purple-800: #432CA0;
  --purple-900: #2F1F71;
  --purple-1000: #19113D;

  --green-50: #F3FCF7;
  --green-100: #E0FAEE;
  --green-200: #BFF3DA;
  --green-300: #8CE8CC;
  --green-400: #55D3AD;
  --green-500: #25B6A3;
  --green-600: #1F9989;
  --green-700: #1C786C;
  --green-800: #226961;
  --green-900: #164741;
  --green-1000: #113330;

  --orange-50: #FFF5EA;
  --orange-100: #FFEDD6;
  --orange-200: #FED6A9;
  --orange-300: #FCB972;
  --orange-400: #F19346;
  --orange-500: #E77625;
  --orange-600: #D95D1B;
  --orange-700: #B74314;
  --orange-800: #9B3B12;
  --orange-900: #7C2C11;
  --orange-1000: #582817;

  --red-50: #FEF1F1;
  --red-100: #FEE1E1;
  --red-200: #FDC8C8;
  --red-300: #F7ABAB;
  --red-400: #FC6A6A;
  --red-500: #E54343;
  --red-600: #D03535;
  --red-700: #B02525;
  --red-800: #8E2323;
  --red-900: #792525;
  --red-1000: #360C0C;

  --yellow-50: #FDFCE6;
  --yellow-100: #FEF9C3;
  --yellow-200: #FDF08A;
  --yellow-300: #FDDF49;
  --yellow-400: #FACC14;
  --yellow-500: #E7B008;
  --yellow-600: #C78904;
  --yellow-700: #A26107;
  --yellow-800: #864E0E;
  --yellow-900: #723F11;
  --yellow-1000: #351D07;
  }
