.light-theme {
  --shadow-1: 0 2px 6px rgba(var(--black-rgb), 0.12);
  --shadow-2: 0 0 0 1px rgba(var(--black-rgb), 0.05),
    0 2px 4px rgba(var(--black-rgb), 0.04), 0 2px 4px -1px rgba(var(--black-rgb), 0.08);
  --shadow-3: 0 1px 2px rgba(var(--black-rgb), 0.06),
    0 12px 52px rgba(var(--black-rgb), 0.16);
  --shadow-inline: inset 0 1px 1px rgba(var(--black-rgb), 0.04);
  --shadow-pressed: 0 0 0 3px rgba(172, 142, 255, 0.14);
}

.dark-theme {
  --shadow-1: 0 0 0 1px rgba(var(--white-rgb), 0.1), 0 2px 4px rgba(var(--black-rgb), 0.1),
    0 2px 4px -1px rgba(var(--black-rgb), 0.16);
  --shadow-2: 0 0 0 1px rgba(var(--white-rgb), 0.16),
    0 4px 8px rgba(var(--black-rgb), 0.08), 0 4px 28px rgba(var(--black-rgb), 0.28);
  --shadow-3: 0 0 0 1px rgba(var(--white-rgb), 0.16),
    0 4px 8px rgba(var(--black-rgb), 0.4), 0 4px 30px rgba(var(--black-rgb), 0.4);
  --shadow-inline: inset 0 1px 1px rgba(var(--black-rgb), 0.04);
  --shadow-pressed: 0 0 0 3px rgba(172, 142, 255, 0.14);
}
